/*Stylesheet for Nike Pro Shop*/

/*Colour Variables*/
:root {
    --bg-colour: ;
    --nav-bg-colour: #ffa500;
    }

/*Global*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Nav*/
.Nav {
    position: relative;
    width: 100%;
    background-color: var(--nav-bg-colour);


    /*Logo*/
    &>:nth-child(1) {
        width: 10%;
        height: 60px;
        position: absolute;
        top: 5%;

        &>img {
            object-fit: contain;
            width: 75%;
            height: inherit;
        }
    }

    &>nav {
        justify-self: center;
        width: inherit;
        height: 65px;

        &>ul {
            width: 75%;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: nowrap;
            justify-self: center;
            height: 100%;
            align-content: center;

            &>li {
                width: 15%;
                text-align: center;
                align-self: center;
                height: 100%;
                align-content: center;

                &>a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.5rem;

                }
            }

            &>li:hover {
                background-color: blue;

                &>a:hover {
                    background-color: blue;
                }
            }
        }

    }
}

/*Footer*/
footer {
    height: 100%;
    width: 100%;
    background-color: var(--nav-bg-colour);
    display: flex;

    /*stores*/
    &>:nth-child(1){
        
    }

    /*Opening times*/
    &>:nth-child(2){

    }



}


/*Front page*/

#Frontpage {

    /*Image top*/
    &>:nth-child(1) {
        background-color: blueviolet;
        height: 600px;
        width: 100%;
        position: relative;

        &>div {
            height: inherit;
            width: inherit;

            &>img {
                object-fit: fill;
                width: 100%;
                height: inherit;
                position: relative;
            }
        }
    }

    /*Text con under*/
    &>:nth-child(2) {
        width: 100%;
        padding-top: 50px;


        /*text div*/
        &>:nth-child(1) {
            width: 80%;
            justify-self: center;
            color: black;
            line-height: 1.2;
        }

        /*Shoe flex box*/
        &>:nth-child(2) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-self: center;
            justify-content: center;

            &>div{
                width: 20%;
                margin: 3%;

                &>:nth-child(1) {
                    height: auto;
                    width: 100%;
                    /*img*/
                    &>img {
                        object-fit: cover;
                        width: 100%;
                        height: auto;
                    }
                }

                /*Text*/
                    &>p{
                        text-align: center;
                        font-size: 1.2rem;
                    }

            }
        }
    }

}


/*History Page*/


/*About Page*/


/*Contact page*/